<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ 'https://mechaid.github.io/course-materials/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/mechaid/mechaid.github.io/master/images/favicon.png"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
      <div class="page-breadcrumb"> <span class="breadcrumb-icon fa fa-home"></span> <a href="{{ site.url }}/workshops">Workshop</a> <span class="fa fa-angle-right"></span> <a href="{{ page.course-parent-url }}">{{ page.course-parent }}</a> </div>
      {% if site.github.is_project_page %}
        <!-- <a href="{{ site.github.url }}" class="btn">Home</a> -->
        <section class="site-sharing">
          
          <i class="sharing-button-pointer fa fa-share-alt"></i>
          
          <!-- Sharingbutton Facebook -->
          <a class="sharing-button btn fa fa-facebook" href="https://facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label=""></a>

          <!-- Sharingbutton Twitter -->
          <a class="sharing-button btn fa fa-twitter" href="https://twitter.com/intent/tweet/?text=Share%20artikel%20ini&amp;url={{ site.github.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label=""></a>

          <!-- Sharingbutton LinkedIn -->
          <a class="sharing-button btn fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.github.url }}{{ page.url }}&amp;title=Share%20artikel%20ini&amp;summary=Share%20artikel%20ini&amp;source=https%3A%2F%2Fmecha.id" target="_blank" rel="noopener" aria-label=""></a>

          <!-- Sharingbutton WhatsApp -->
          <a class="sharing-button btn fa fa-whatsapp" href="whatsapp://send?text=Share%20artikel%20ini%20{{ site.github.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label=""></a>

          <!-- Sharingbutton Telegram -->
          <a class="sharing-button btn fa fa-telegram" href="https://telegram.me/share/url?text=Share%20artikel%20ini&amp;url={{ site.github.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label=""></a>
        
          <a class="sharing-button btn fa fa-github" href="https://github.com/mechaid/course-materials/tree/master{{ page.url }}"></a>
        </section>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <footer class="site-footer">
        <img class="site-footer-5thgrade-kid" alt="Pendidikan untuk anak kelas 5 SD" src="https://raw.githubusercontent.com/mechaid/course-materials/master/assets/it-yes-white.svg">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://mecha.id">Kampus Zero Dropout - mecha.id</a>.</span>
        {% endif %}
        <div>
          <a href="https://mechaid.github.io/course-materials">Materi Kuliah</a> | 
          <a href="https://mechaid.github.io/workshops">Workshop</a> | 
          <a href="https://mechaid.github.io/wiki">Wiki</a> | 
          <a href="https://mechaid.github.io/publication-reviews/">Ulasan Publikasi</a> | 
          <a href="https://www.youtube.com/channel/UCAHKfmOwqZrShZ3SPhReqtg">Mecha TV</a>
        </div>
        <!-- This page was generated by GitHub Pages -->
      </footer>
    </main>
  </body>
</html>
